
@import url(//db.onlinewebfonts.com/c/af089c51d74ffa3c6a675fd6024b302b?family=Futura+Hv+BT);

@font-face {font-family: "Futura Hv BT"; src: url("//db.onlinewebfonts.com/t/af089c51d74ffa3c6a675fd6024b302b.eot"); src: url("//db.onlinewebfonts.com/t/af089c51d74ffa3c6a675fd6024b302b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/af089c51d74ffa3c6a675fd6024b302b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/af089c51d74ffa3c6a675fd6024b302b.woff") format("woff"), url("//db.onlinewebfonts.com/t/af089c51d74ffa3c6a675fd6024b302b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/af089c51d74ffa3c6a675fd6024b302b.svg#Futura Hv BT") format("svg"); }

*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Futura Hv BT";
    
  }
:root {
  --white-color:                  #F0F1F7;
  --primary-color:                #229ED7;
  --secondary-color:              #12668D;
  --tri-color:                    rgb(43, 148, 197);
  --section-bg-color:             #f0f8ff;
  --dark-color:                   #000917;
  --navbar-bg-color:              #000917;
  --p-color:                      #5E5D6C;
  --buton-color:                  rgba(129, 128, 128, 0.439);
  --white-gradient:               radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  --blue-gradient:                linear-gradient(1.3deg, rgb(91, 117, 163) 11.4%, rgb(68, 98, 128) 77%);
  --grey-gradient:                #5E5D6C;
  --body-font-family:             "Futura Hv BT";
 


  --h1-font-size:                 48px;
  --h2-font-size:                 36px;
  --h3-font-size:                 24px;
  --h4-font-size:                 22px;
  --h5-font-size:                 22px;
  --h6-font-size:                 18px;
  --p-font-size:                  18px;
  --menu-font-size:               16px;
  --copyright-text-font-size:     16px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-bold:             700;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family); 
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
}

h1 {
  font-size: var(--h1-font-size);
  letter-spacing: 0px;
  
}

h2 {
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);   
  line-height: normal;  
}

h6 {
  font-size: var(--h6-font-size); 
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

body{    
  flex-direction: column;
  user-select: none;
}
.main{
  background: var(--dark-color);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: var(--white-color);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
    50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/*---------------------------------------
    NAVBAR             
-----------------------------------------*/
.navcont{
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
    
}
nav{
  padding: 3.5rem 3%;
}

nav ul{
  text-align: right;
  align-items: right;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 4%;  
}

.navi{
  font-size: clamp(1rem, 1.5vw, 2.8rem);
  color: var(--white-color);
  text-decoration: none;
  transition: 0.5s;
}

.navi:hover{
  color: #229ed7;
  text-shadow:#229ed7 0px 0px 4px;
  transition: 0.5s;
    
}
/*---------------------------------------
--------------------------------------
    FIRST SECTION OF PAGE:  
    --------------------------------------          
-----------------------------------------*/
.sectiontop{
  height: 90vh;
  overflow: hidden;
}
/*---------------------------------------
    HERO             
-----------------------------------------*/
.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  max-width: 100rem;
}

.A19logo{
  margin-top: 3.5%;
  position: relative; 
}
.logo{
  float: left;
  height: clamp(8rem,20vw,25rem);
}
/*-----------------------
    COMING SOON           
--------------------------*/
.text-container{
  max-width: clamp(10rem,40vw,50rem);
  margin-top: 5%;
  margin-left: 4rem;
  text-align: center; 
}
.text-container .mainp{
  font-size: clamp(1rem,1.5vw,3rem);
  line-height: clamp(1rem,1.8vw,4rem);    
}
.text-container .launch-time{
   position: relative;
   line-height: 3rem;
   padding-left: 15%;
   display: flex; 
}
.launch-time span{
  font-size: clamp(0.5rem,1vw,1.5rem);

}
.text-container .time{
  font-size: clamp(1.5rem,2.5vw,3rem);

}
.text-container .launch-time div{
    flex-basis: 20%;
}
.text-container h1{
  line-height: clamp(5rem,9vw,15rem);
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
  to right,
  #229ed7,
  #0c3e55,
  #229ed7
  );  
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: clamp(2rem,4.5vw,7rem);
  /*text-shadow: rgb(244, 244, 245) 10px -20px 100px;*/ 
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
  }
.text-container p{
  color: var(--white-color);   
 }
.Wbutton{
  line-height: 3.5rem;
  background:var(--buton-color);
  width: clamp(10rem,12vw,16rem);
  color: var(--white-color) ;
  border: 1.5px solid var(--p-color);
  border-radius: 5px;
  font-size: clamp(1rem,1.1vw,1.5rem);
  transition: 0.5s;
  
 }
.Wbutton:hover {
  background:var(--p-color);
  transition: .7s;
  cursor: pointer;
  }
.learn-more{
  text-align: center;
  margin-top: clamp(1%,7%,10%);
}
.learn-more li{
  list-style: none;
  color: var(--white-color);
  }
.navi-learn{
  font-size: clamp(1rem,1.5vw,3.5rem);
  color: var(--white-color);
  text-decoration: none;
  transition: 0.5s;

  }
.navi-learn:hover {
  color: var(--primary-color);
  text-shadow:var(--primary-color) 0px 0px 4px;
  transition: 0.5s;
  }
.scroll-down {
  width:23px;
  height: 23px;
  margin-left: 49.5%;
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 3s ease-in-out  alternate infinite;
  -moz-animation:    fade_move_down 3s ease-in-out  alternate infinite;
  animation:         fade_move_down 3s ease-in-out  alternate infinite;
  }
  /*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-5px) rotate(45deg); opacity: 0.5;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,5px) rotate(45deg); opacity: 0.5; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-5px) rotate(45deg); opacity: 0.5;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,5px) rotate(45deg); opacity: 0.5; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-5px) rotate(45deg); opacity: 0.5;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,5px) rotate(45deg); opacity: 0.5; }
}
/*---------------------------------------
    BODY WITH CONTENT             
-----------------------------------------*/
.section-white{
  margin-top: 5rem;
  background: var(--white-gradient);
  height: 60rem;
}

.section-break{
  height:  12rem;
  background: var(--grey-gradient);
  
}
.section-break div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-break div img{
  height: 200px;

}

.section-blue{
  background:var(--dark-color);
  height: 45rem;
  
  
}

.section-blue h2{
  color: var(--white-color);
}

.section-blue h4{
  color: var(--white-color);
}


.separate{
    height: 150px;
  }

/*-----------------------
    OUR SOLUTION 1:         
--------------------------*/

.solution-grid{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.8fr 0.4fr 1.2fr;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  
}

#sec1button{
  margin-top:2rem;
  width: 12rem;
  background-color: var(--grey-gradient);

}

#sec1button:hover{
  background-color: rgba(110, 110, 110, 0.889);

}

.solution{
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  
}

.solution h1{
  color: var(--primary-color);
  line-height: 200%;
  font-size: 4rem;
  text-align: left;
}

.solution h2{
    line-height: 150%;
    
}

.solution h3{
    text-align: justify;
    line-height: 120%;
    

}
.solution h4{
    line-height: 120%;
    font-size:20px;
    font-style: italic;
    text-align: justify;

}
.solution img{
    height: clamp(5rem,25vw,35rem);
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    box-shadow: 6px -2px 15px #0000004b;
    
    
}

.solution .logo-cardio{
    height: 4rem;
    border: none;
    margin-bottom: 2rem;
   
}

.solution .info-cardio{
    height: 10rem;
    border: none;
    padding-top: 2rem;
    
}

.solution .markers-cardio{
  height: 15rem;
  padding-bottom: 2rem;
  margin-left: 25%;
  
}

.solution .column{
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  padding-right: 5rem;
  padding-top: 1rem;
  
  
}
.solution .row{
  display: flex;  
  justify-content: center;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

.about{
  line-height: 200%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  overflow: hidden;
    
}
.about h1{
  color: var(--dark-color);
}
.team-row{
    display: flex;
    justify-content:center;
}

.profile-box{
    width: clamp(15rem,25rem,30rem);
    height: clamp(15rem,25rem,10rem);
    background: #26252cec;
    border: 2px solid #bababa;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    margin: 20px;
    transition: 0.5s;
}

.profile-box:hover{
    background: #26252ce0;

}
.profile-box a{
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.5s;
}

.profile-box a:hover{
  color:#62ccfd;  
}
.profile-box img{
    width: clamp(6rem,10vw,12rem);
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid #fafafa6b;
    border-radius: 10px;
    transition: 0.5s;
}

.profile-box img:hover{
    width: clamp(13rem,21vw,25rem);
}

.profile-box p{
  color:rgb(195, 195, 195);
  text-align:end;
}

.about h1{
    font-size: 65px;
    font-weight:lighter;
    line-height: 200%;
}

.about h2{
    font-size: 35px;
    line-height: 150%;
}

.about h4{
    font-size: 20px;
    color:var(--dark-color);
    line-height: 120%;
    font-weight: lighter;
    max-width: 12.5rem;
    color: var(--white-color);

}

.about h5{
    font-size:23px;
    color:var(--primary-color);
    font-weight:lighter;
    max-width: 12.5rem;
}

.team-info{
    font-size:17px;
    text-align: justify;
    line-height: 130%;
    font-weight: lighter;
}

.contact{    
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contact h1{
  line-height: 10rem;
}

.contact-col-e{
    border: 2px solid var(--primary-color);
    width: 380px;
    border-radius: 20px;
    padding: 50px 40px 50px 90px;
    margin-bottom: 120px;
    background: rgba(128, 128, 128, 0.163);
    transition: 0.5s;
    
}

.contact-col-e:hover{
    background: #51515165;

}

.contact-col-e .fa{
    font-size: 28px;
    color: rgba(240, 248, 255, 0);
}
.contact-col input, .contact-col textarea{

    font-size: 18px;
    min-width: 90%;
    max-width: 50rem;
    padding:15px ;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.163);
    box-sizing: border-box;
    color: var(--white-color);
}

.contact-col input::placeholder, .contact-col textarea::placeholder{
    color: rgb(192, 191, 194);

}
.email{
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.5s;
}

.email:hover{
    color: #12668d;
}

.line{
    margin-top: 1%;
    background: linear-gradient(
    to right,
    #229ed7,
    #0c3e55,
    #229ed7,
    #229ed7
    );
    background-size: 200%;

    animation: line-flow 9s linear infinite ;

    width: 800px;
    align-self: center;
    height: 5px;
    border-radius: 20px;
}

@keyframes line-flow{
    from {
        background-position: 0% center;
        
      }
      
      to {
        background-position: -200% center;
      }

}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none; 
    background-color: var(--buton-color); 
    color: var(--white-color); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 1.2rem; 
    transition: 0.5s;
  }
  
  #myBtn:hover {
    background-color: var(--primary-color); 
  }

.custom-shape-divider-top-1676920502 {
   
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676920502 svg {
    position: relative;
    display: block;
    width: 150%;
    height: 100px;
}

.custom-shape-divider-top-1676920502 .shape-fill {
    fill: var(--dark-color);
}

footer {
  display: flex;
  margin-top: 5rem;
  height: 5rem;
  font-size: 10px;
  margin-top: auto;
  text-align:end;
  justify-content: center;
  align-items: flex-end;
  padding: 3px;
  
}
footer p{
  font-size: 15px;
  color:#759db7;

}
